{% extends 'base.html' %}
{% load icon_path %}

{% block content %}
  <div class='area-pic-holder cf'>
    <div class='area-pic-frame'>
        <div class='area-pic'>
         {% for photo in photos %}
            {% if photo.photo_type == "G" %}
            <img src="{{ photo.photo.url }}">
            {% endif %}
          {% endfor %}
        </div>
      </div>
    <div class='area-quick-info-holder'>
      <div class='area-quick-info'>
      </div>
      <div class='area-quick-info'>
      </div>
      <div class='area-quick-info'>
      </div>
    </div>
  </div>

  <div class="area-hero cf">
    <div class='area-hero-left'>
      <div class="area-details">
        <hgroup>
          <h4>Details for this route</h4>
        </hgroup>
        <span class='misc-details-bold'>Author:</span>
        <span class='misc-details-reg'>Richard Parker</span>
        <br>
        <span class='misc-details-bold'>Date:</span>
        <span class='misc-details-reg'>December 15, 2011</span>
        <br>
        <span class='misc-details-bold'>Category:</span>
        <span class='misc-details-reg'>Awesomeness</span>
      </div>
      {% if weather %}
        <div class='weather'>
          <h4>Current weather</h4>
          <div class='weather-pic-holder'>
            <div class='weather-pic'>
              <div class="weather-day">
                <p>{{ weather.today.day }}</p>
                <img src="{{STATIC_URL}}{{ weather.today.icon|icon_path }}">
                <p class="weather-temp">{{ weather.today.temp }}°F</p>
              </div>
              <div class="weather-day">
                <p>{{ weather.tomorrow.day }}</p>
                <img src="{{STATIC_URL}}{{ weather.tomorrow.icon|icon_path }}">
                <p class="weather-temp">{{ weather.tomorrow.temp }}°F</p>
              </div>
              <div class="weather-day">
                <p>{{ weather.twodays.day }}</p>
                <img src="{{STATIC_URL}}{{ weather.twodays.icon|icon_path }}">
                <p class="weather-temp">{{ weather.twodays.temp }}°F</p>
              </div>
            </div>
          </div>
          <a href="http://www.wunderground.com/?apiref=97953a28019c8232">
            <img class="wunderground" src="{{STATIC_URL}}images/weather_images/wundergound_logo.jpg">
          </a>
        </div>
      {% endif %}

      <h4>When to Climb</h4>
      <p>{{ area.weather_description }}</p>   
    </div>
    <div class='area-hero-middle'>
      <h4>About</h4>
      <p>
      {{ area.about }}
      </p>
      <h4>Parking
        {% if area.parking_longitude and area.parking_latitude %}
        <a href="https://maps.google.com/maps?q=loc:{{ area.parking_latitude }},{{ area.parking_longitude
            }}"><span class="gps">({{ area.parking_latitude }}, {{ area.parking_longitude }})</span></a>
        {% endif %}
      </h4>
      <p>
      {{ area.parking_description }}
      </p>
      <h4>Approach
        {% if area.trailhead_latitude and area.trailhead_longitude %}
        <a href="https://maps.google.com/maps?q=loc:{{ area.trailhead_latitude }},{{ area.trailhead_longitude }}">
            <span class="gps">({{ area.trailhead_latitude }}, {{ area.trailhead_longitude }})</span>
        </a>
        {% endif %}
      </h4>
      <p>
      {{ area.approach_description }}
      </p>
      <h4>Miscellaneous</h4>
      <p>
      {{ area.misc_information }}
      </p>
    </div>
    <div class='area-hero-right'>
      <h4>Classic routes</h4>
      <div class='classic-route-holder cf'>
        {% for photo in classic_photos %}
          <div class='classic-route-frame'>
            <div class='classic-route'>
              <a href="{{ photo.route.get_absolute_url }}">
                <img src="{{ photo.photo.url }}" title="{{ photo.route.difficulty }} - {{ photo.route.name }}">
              </a>
            </div>
          </div>  
        {% endfor %}
        <!-- <div class='classic-route-frame'>
          <div class='classic-route'>
          </div>
        </div>
        <div class='classic-route-frame'>
          <div class='classic-route'>
          </div>
        </div>
        <div class='classic-route-frame'>
          <div class='classic-route'>
          </div>
        </div>
        <div class='classic-route-frame'>
          <div class='classic-route'>
          </div>
        </div>
        <div class='classic-route-frame'>
          <div class='classic-route'>
          </div>
        </div>
        <div class='classic-route-frame'>
          <div class='classic-route'>
          </div>
        </div> -->
      
      </div>
      <div class='route-approach'>
        <h4>How to get there</h4>
        <div class='route-approach-img-frame'>
          <div class='route-approach-img'>
          </div>
        </div>
        <div class='route-approach-img-frame'>
          <div class='route-approach-img'>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
