{% extends 'base.html' %}
{% load lessthan %}
{% load thumbnail %}

{% block extra-head %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/slimbox2.js"></script>
  <link href='{{ STATIC_URL }}css/slimbox2.css' rel='stylesheet'>
{% endblock %}

{% block content %}
  <div class="route-pic-holder">
    <div class='route-pic-frame'>
      <div class='route-pic'>
        {% for photo in photos %}
          {% if photo.photo_type == "O" %}
            {% thumbnail photo.photo "340" as im %} 
            <a href="{{ photo.photo.url }}">
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            </a>
            {% endthumbnail %}  
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class='route-topo-pic-frame'>
      <div class='route-topo-pic'>
        {% for photo in photos %}
          {% if photo.photo_type == "T" %}
            <img src="{{ photo.photo.url }}" class='route-topo-pic' >
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class='quick-info-pic-holder cf'>
    <img src='{{ STATIC_URL }}images/grade-bldr.png' class='grade-backdrop'>
    <h2>{{ problem.grade }}</h2>
    <h1>{{ problem.name }}</h1>
    <div class='quick-info-pics cf'>
      <div class="quick-info-pic">
      </div>
      <div class="quick-info-pic">
      </div>
      <div class="quick-info-pic">
      </div>
    </div>
  </div>
  <div class="route-hero cf">
    <hr>
    <div class="route-description">
    {% if problem.longitude and problem.latitude %}
    <a href="https://maps.google.com/maps?q=loc:{{ problem.latitude }},{{ problem.longitude }}">({{ problem.latitude }}, {{ problem.longitude }})</a>
    {% endif %}
      <h4>Description</h4>
      <p>
        {{ problem.description|linebreaks }}
      </p>
    </div>
    <div class="route-details">
      <div class="misc-details">
        <hgroup>
          <h4>Details for this route</h4>
          <h4>by Enter user here</h4>
        </hgroup>
        <span class='misc-details-bold'>Author:</span>
        <span class='misc-details-reg'>Richard Parker</span>
        <br>
        <span class='misc-details-bold'>Date:</span>
        <span class='misc-details-reg'>December 15, 2011</span>
        <br>
        <span class='misc-details-bold'>Category:</span>
        <span class='misc-details-reg'>Awsomeness</span>
      </div>
      <div class='start-finish'>
        <h4>Start & Finish</h4>
        <div class='start-finish-img-frame'>
          <div class='start-finish-img'>
          </div>
        </div>
        <div class='start-finish-img-frame'>
          <div class='start-finish-img'>
          </div>
        </div>
      </div>
      <div class='gallery cf'>
        <h4>Route pics</h4>
        {% for photo in photos %}
          {% if photo.photo_type == "G" %}
            {% if forloop.counter|lt:8 %}
              <div class='gallery-image-frame'>
                <div class='gallery-image'>
                  <a href="{{ photo.photo.url }}" rel="lightbox-gallery" title="my caption">
                    <img src="{{ photo.photo.url }}" class='gallery-image' >
                  </a>
                </div>
              </div>
            {% else %}
              <a href="{{ photo.photo.url }}" rel="lightbox-gallery" title="my caption" style="display: none"></a>
            {% endif %}
          {% endif %}
        {% endfor %}
          <!-- <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  
{% endblock %}

<!--
  <div style="height=600px; width=350px; background-color=white">
  </div> -->
