{% extends 'base.html' %}

{% block content %}
  <div class='gray-overlay-holder'>
  </div>
  <div class='hero cf'>
    <div class='left-hero'>
      <div class='left-hero-photo'>
      </div>
      <div class='left-hero-text'>
        <h4>Feature route &#9776&#9776&#9776&#9776</h4>
        <p>
          Nunc venenatis eros nulla, ac elementum ante. Donec lacinia mauris ut orci cursus mattis. Aenean pretium libero laoreet metus congue posuere. Nulla sapien purus, rutrum at porta eget, viverra et nulla.
        </p>
        <p>
          Nunc venenatis eros nulla, ac elementum ante. Donec lacinia mauris ut orci cursus mattis. Nulla sapien purus, rutrum at porta eget, viverra et nulla.
        </p>
      </div>
      <div class='google-map'>
      </div>
    </div>
    <div class='right-hero'>
    </div>
  </div>
{% endblock %}
