{% extends 'base.html' %}
{% load paragraphs %}
{% block content %}
  <div class='gray-overlay-holder cf'>
    <div class='three-featured-areas'>
      <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          {% for photo in area_photos %}
            <a href="{{ photo.get_area_url }}">
              <img src="{{ photo.photo.url }}" alt="" title="#{{ photo.area.slug }}"/>
            </a>
          {% endfor %}
        </div>
      </div>
      {% for photo in area_photos %}
      <div id="{{ photo.area.slug }}" class="nivo-html-caption">
        <a href="{{photo.get_area_url}}"><strong>{{photo.area.name}}</strong></a>
      </div>
      {% endfor %}
    </div>
    <div class='three-local-areas'>
      <div class='local-area'>
      </div>
      <div class='local-area'>
      </div>
      <div class='local-area'>
      </div>
    </div>
  </div>
  <div class='hero cf'>
    <div class='left-hero'>
      <div class='left-hero-photo'>
        {% for photo in featured_photos %}
          {% if photo.photo_type == "O" %}
            <a href="{{ featured_problem.get_absolute_url }}">
              <img src="{{ photo.photo.url }}" class='left-hero-photo'>
            </a>
          {% endif %}
        {% endfor %}
      </div>
      <div class='left-hero-text'>
        <a href="{{ featured_problem.get_absolute_url }}">
          <h4>{{ featured_problem.name }}</h4>
        </a>
        {% if featured_problem.has_multiple_newlines %}
          {{ featured_problem.description|truncatechars:360|paragraphs }}
        {% elif featured_problem.has_newline %}
          {{ featured_problem.description|truncatechars:410|paragraphs }}
        {% else %}
          {{ featured_problem.description|truncatechars:430|paragraphs }}
        {% endif %}
      </div>
      <div class='google-map'>
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=san+francisco,ca&&zoom=6&size=340x190&sensor=false&maptype=terrain&key=AIzaSyCxg1BQiv1DusfAllPtM1R3u3INP6UEOb4">
      </div>
    </div>
    <div class='right-hero'>
      <div class='about-app-holder'>
        <div class='about-app-top'>
        </div>
        <div class='about-app-main'>
        </div>
        <div class='download-app'>
        </div>
      </div>
      <img src='{{ STATIC_URL }}images/ex1-iphone.png' class='iphone-img'>
    </div>
  </div>
{% endblock %}
