{% extends 'base.html' %}

{% block content %}
  <div class='gray-overlay-holder cf'>
    <div class='three-featured-areas'>
      <!-- <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
          <img src="http://127.0.0.1:8000/media/photos/DSCN1172.JPG" alt="" />
          <a href="http://dev7studios.com"><img src="images/slide2.jpg" alt="" title="#htmlcaption" /></a>
          <img src="images/slide3.jpg" alt="" title="This is an example of a caption" />
          <img src="images/slide4.jpg" alt="" />
        </div>
      </div>
      <div id="htmlcaption" class="nivo-html-caption">
        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
      </div> -->
    </div>
    <div class='three-local-areas'>
      <div class='local-area'>
      </div>
      <div class='local-area'>
      </div>
      <div class='local-area'>
      </div>
    </div>
  </div>
  <div class='hero cf'>
    <div class='left-hero'>
      <div class='left-hero-photo'>
      </div>
      <div class='left-hero-text'>
        <h4>Featured route</h4>
        <p>
          Nunc venenatis eros nulla, ac elementum ante. Donec lacinia mauris ut orci cursus mattis. Aenean pretium libero laoreet metus congue posuere. Nulla sapien purus, rutrum at porta eget, viverra et nulla.
        </p>
        <p>
          Nunc venenatis eros nulla, ac elementum ante. Donec lacinia mauris ut orci cursus mattis. Nulla sapien purus...
        </p>
      </div>
      <div class='google-map'>
      </div>
    </div>
    <div class='right-hero'>
      <div class='about-app-holder'>
        <div class='about-app-top'>
        </div>
        <div class='about-app-main'>
        </div>
        <div class='download-app'>
        </div>
      </div>
      <img src='{{ STATIC_URL }}images/ex1-iphone.png' class='iphone-img'>
    </div>
  </div>
{% endblock %}
