{% extends 'base.html' %}

{% block content %}
  <div class="route-pic-holder">
    <div class='route-pic-frame'>
      <div class='route-pic'>
      </div>
    </div>
    <div class='route-topo-pic-frame'>
      <div class='route-topo-pic'>
      </div>
    </div>
  </div>
  <div class='quick-info-pic-holder cf'>
    <h1>Title of Route</h1>
    <div class='quick-info-pics cf'>
      <div class="quick-info-pic">
      </div>
      <div class="quick-info-pic">
      </div>
      <div class="quick-info-pic">
      </div>
    </div>
  </div>
  <div class="route-hero cf">
    <hr>
    <div class="route-description">
      <h4>Nunc venenatis eros nulla, ac elementum ante. Donec lacinia mauris ut orci cursus mattis.</h4>
      <p>
      Chambray tumblr mumblecore flexitarian. Wolf freegan american apparel proident beard cupidatat organic labore. Duis mustache esse lomo consequat sustainable. Forage twee do, ex williamsburg sed quinoa ad. Fixie truffaut gastropub before they sold out authentic. Occaecat american apparel street art flexitarian, selvage nihil viral mustache kale chips cosby sweater squid cred pickled narwhal semiotics. Flexitarian dreamcatcher sunt, polaroid ea before they sold out ethical truffaut portland bespoke cillum keffiyeh cupidatat.
      </p>
      <p>
      Raw denim brunch readymade, Austin scenester delectus pork belly farm-to-table sapiente gluten-free food truck. VHS ennui lomo trust fund raw denim master cleanse put a bird on it wolf ut. Vero nulla fanny pack salvia, mollit photo booth fap kale chips. Ea iphone salvia anim, sartorial wayfarers umami nisi nesciunt et biodiesel. Leggings irure fixie, gastropub butcher 8-bit food truck duis post-ironic. Officia tattooed hella post-ironic yr. Narwhal aliquip sustainable authentic mcsweeney's vinyl.
      </p>
    </div>
    <div class="route-details">
      <div class="misc-details">
        <hgroup>
          <h4>Details for this route</h4>
          <h4>by Enter user here</h4>
        </hgroup>
        <span class='misc-details-bold'>Author:</span>
        <span class='misc-details-reg'>Richard Parker</span>
        <br>
        <span class='misc-details-bold'>Date:</span>
        <span class='misc-details-reg'>December 15, 2011</span>
        <br>
        <span class='misc-details-bold'>Category:</span>
        <span class='misc-details-reg'>Awsomeness</span>
      </div>
      <div class='start-finish'>
        <h4>Start & Finish</h4>
        <div class='start-finish-img-frame'>
          <div class='start-finish-img'>
          </div>
        </div>
        <div class='start-finish-img-frame'>
          <div class='start-finish-img'>
          </div>
        </div>
      </div>
      <div class='gallery cf'>
        <h4>Route pics</h4>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
        <div class='gallery-image-frame'>
          <div class='gallery-image'>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

<!--
  <div style="height=600px; width=350px; background-color=white">
  </div> -->