{% extends 'base.html' %}

{% block content %}
  <div class="route-pic cf">
  </div>
  <h1>Title of Route</h1>
  <div class='quick-info-pic-holders'>
    <div class="quick-info-pic">
    </div>
    <div class="quick-info-pic">
    </div>
    <div class="quick-info-pic">
    </div>
  </div>

  <div class="route-description">
    <h4>Feature route</h4>
    <p>
    Nunc venenatis eros nulla, ac elementum ante. Donec lacinia mauris ut orci cursus mattis. Aenean pretium libero laoreet metus congue posuere. Nulla sapien purus, rutrum at porta eget, viverra et nulla.
    </p>
    <p>
    Nunc venenatis eros nulla, ac elementum ante. Donec lacinia mauris ut orci cursus mattis. Nulla sapien purus, rutrum at porta eget, viverra et nulla.
    </p>
  </div>
  <div class="misc-details">
    <h4>Details for this route</h4>
    <h4>by Enter user here</h4>
  </div>
{% endblock %}

<!--
  <div style="height=600px; width=350px; background-color=white">
  </div> -->