@font-face {
    font-family: 'BobelRegular';
    src: url('../bobel-webfont/bobel_font_by_pitters-webfont.eot');
    src: url('../bobel-webfont/bobel_font_by_pitters-webfont.eot?#iefix') format('embedded-opentype'),
         url('../bobel-webfont/bobel_font_by_pitters-webfont.woff') format('woff'),
         url('../bobel-webfont/bobel_font_by_pitters-webfont.ttf') format('truetype'),
         url('../bobel-webfont/bobel_font_by_pitters-webfont.svg#BobelRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 1200px;
}

header {
  width: 960px;
  margin: 0 auto;
  position: relative;
  margin-top: 1%;
  color: #e6e6e6;
}

header h1 {
  font-family: 'BobelRegular';
  font-size: 7.25em;
  float: left;
  position: relative;
  top: 20px;
  left: 5px;
}

header h1 a {
  color: #e6e6e6 !important;
}

header nav {
  position: absolute;
  bottom: 10px;
  right: 0;
}

li a {
  font-size: 1.5em;
  font-weight: bold;
}

nav ul li {
  display: inline;
  margin-left: 80px;
  color: #afafaf;
}

a {
  text-decoration: none;
}

.content-container {
  width: 960px;
  margin: 0 auto;
}


a, a:visited {
  text-decoration: none;
  color: #afafaf;
}

/****INDEX********************************************************************************/
.gray-overlay {
  width: 100%;
  background-color: #929292;
  height: 300px;
  position: absolute;
  z-index: -1;
  margin-top: 25px;
  min-width: 1200px;
}

.gray-overlay-holder {
  width: 960px;
  height: 274px;
  background-color: #f6f6f6;
  margin: 0 auto;
  margin-top: 40px;
}

.three-featured-areas, .three-local-areas {
  float: left;
}

.three-featured-areas {
  height: 260px;
  width: 675px;
  position: relative;
  top: 5px;
  left: 5px;
  border: 2px solid white;
  margin-right: 8px;
  background-color: #929292;
}

.three-local-areas {
  height: 260px;
  width: 265px;
  background-color: #929292;
  position: relative;
  top: 5px;
  border: 2px solid white;
}

.three-local-areas div:not(:first-child) {
  margin-top: 3px;
}

.local-area {
  width: 265px;
  height: 85px;
  background-color: #D0CECF;
}

.hero {
  margin-top: 50px;
}

.left-hero {
  float: left;
  width: 340px;
  height: 550px;
}

.left-hero-photo {
  width: 160px;
  height: 300px;
  background-color: #d0cecf;
  float: left;
}

.left-hero-text {
  width: 160px;
  float: right;
  font-size: .75em;
  line-height: 1.5em;
  color: #232323;
  position: relative;
  top: 5px;
}

.left-hero-text h4 {
  margin: 0;
  font-weight: bold;
  color: #929292;
}

.left-hero-text p {
  margin-top: 20px;
}

.google-map {
  width: 100%;
  height: 190px;
  clear: both;
  background-color: #D0D0D0 ;
  position: relative;
  top: 40px;
}

.right-hero {
  float: right;
  background-color: #d0cecf;
  height: 530px;
  width: 565px;
}

.about-app-holder div:not(:first-child) {
  margin-top: 23px;
}

.about-app-holder {
  width: 220px;
  float: left;
  margin-top: 25px;
  margin-left: 35px;
  margin-right: 40px;
}

.about-app-top, .about-app-main, .download-app {
  background-color: white;
}

.about-app-top {
  height: 57px;
}

.about-app-main {
  height: 195px;
}

.download-app {
  height: 110px;
}

.iphone-img {
  margin-top: 15px;
  width: 245px;
}

/***ROUTE*********************************************************/
.route-pic-holder {
  height:880px; 
  width:350px; 
  margin-top: 50px;
  margin-right: 25px;
  float: left;
}

.route-pic-frame {
  height: 604px;
  width: 354px;
  background-color: #f6f6f6;
  margin-bottom: 15px;
}

.route-pic {
  height: 590px;
  width: 340px;
}

div.route-pic {
  background-color: #e6e6e6;
  position: relative;
  top: 5px;
  left: 5px;
  border: 2px solid white;
}

.route-topo-pic-frame {
  height: 234px;
  width: 354px;
  background-color: #f6f6f6;
}

.route-topo-pic {
  height: 220px;
  width: 340px;
}

div.route-topo-pic {
  background-color: #e6e6e6;
  position: relative;
  top: 5px;
  left: 5px;
  border: 2px solid white;

}

img.grade-backdrop {
  width: 80px;
  height: 93px;
  position: absolute;
  top: -35px;
  z-index: -1;
}

.quick-info-pic-holder {
  color: white;
  margin-top: 60px;
  width: 585px;
  float: left;
  position: relative;
}

.quick-info-pic-holder h1 {
  font-size: 3.25em;
  position: relative;
  left: 95px;
  bottom: 5px;
  font-family: 'BobelRegular';
}

.quick-info-pic-holder h2 {
  font-size: 3em;
  position: absolute;
  left: 15px;
  top: -5px;
  font-weight: bold;
}

.quick-info-pic {
  width: 185px;
  height: 150px;
  background-color: #D0D0D0;
  float: left;
}

.quick-info-pics {
  padding-top: 20px;
}

.quick-info-pics div:not(:first-child) {
  margin-left: 12px;
}

.route-hero {
  width: 585px;
  float: left;
  line-height: 1.5em;
  font-size: 12px;
}

.route-hero hr {
  margin-top: 60px;
  margin-bottom: 25px;
}

.route-description {
  width: 255px;
  margin-right: 100px;
  float: left;
}

.route-description h4 {
  font-weight: bold;
  color: #4c5059;
}

.route-description p {
  margin-top: 15px;
  color: #4c5053;
}

.route-details {
  width: 230px;
  float: left;
}

.misc-details {
  margin-bottom: 60px;
  width: 220px;
}

.misc-details hgroup {
  margin-bottom: 17px;
}

.misc-details h4, .misc-details-bold, .start-finish h4, .gallery h4 {
  font-weight: bold;
}

.misc-details h4
{
  font-size: 1.1em;
}

.misc-details-reg {
  float: right;
  display: block;
}

.start-finish-img-frame {
  height: 104px;
  width: 204px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
}

.start-finish-img {
  height: 92px;
  width: 192px;
  background-color: #e6e6e6;
  position: relative;
  top: 4px;
  left: 4px;
  border: 2px solid white;
}

.start-finish h4 {
  margin-bottom: 3px;
}

.gallery {
  width: 220px;
  margin-bottom: 100px;
}

.gallery-image-frame {
  height: 52px;
  width: 52px;
  background-color: #f6f6f6;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}

.gallery-image {
  height: 45px;
  width: 45px;
  background-color: #e6e6e6;
  position: relative;
  top: 2px;
  left: 2px;
  border: 2px solid white;
}

/***AREA**********************************************************/
.area-pic-holder {
  margin: 0 auto;
  margin-top: 40px;
}

.area-pic-frame, .area-quick-info-holder, .area-hero-left,
.area-hero-middle, .area-hero-right {
  float: left;
}

.area-pic-frame {
  background-color: #f6f6f6;
  width: 701px;
  height: 270px;
  margin-right: 25px;
}

.area-pic {
  height: 256px;
  width: 687px;
  position: relative;
  top: 5px;
  left: 5px;
  border: 2px solid white;
  background-color: #929292;
}

.area-quick-info-holder div:not(:first-child) {
  margin-top: 5px;
}

.area-quick-info-holder {
  padding-top: 3px;
}

.area-quick-info {
  width: 220px;
  height: 85px;
  background-color: #D0CECF;
}

.area-hero {
  margin-top: 72px;
  margin-bottom: 85px;
}

.area-hero-left {
  width: 215px;
  margin-right: 50px;
}

.area-details h4, .weather h4 {
  font-weight: bold;
  font-size: 1.1em;
}

.area-details hgroup {
  margin-bottom: 17px;
}

.weather {
  margin-top: 105px;
}

.weather-pic-holder {
  height: 64px;
  width: 203px;
  background-color: #f6f6f6;
  margin-top: 6px;
  margin-bottom: 13px;
}

.weather-pic {
  width: 193px;
  height: 54px;
  background-color: #ececec;
  position: relative;
  left: 3px;
  top: 3px;
  border: 2px solid white;
}

.area-hero-middle {
  width: 430px;
  margin-right: 50px
}

.area-hero-middle h4 {
  font-weight: bold;
}

.area-hero-middle h4, .area-hero-middle p {
  margin-bottom: 35px;
}

.area-hero-right {
  width: 215px;
}

.classic-route-frame {
  width: 57px;
  height: 101px;
  background-color: #f6f6f6; 
  margin-right: 7px;
  margin-top: 15px;
  float: left;
}

.classic-route {
  height: 91px;
  width: 47px;
  background-color: #ECECEC;
  position: relative;
  top: 3px;
  left: 3px;
  border: 2px solid white;
}

.route-approach {
  margin-top: 43px;
}

.route-approach-img-frame {
  height: 104px;
  width: 204px;
  background-color: #f6f6f6;
  margin-bottom: 10px;
}

.route-approach-img {
  height: 92px;
  width: 192px;
  background-color: #e6e6e6;
  position: relative;
  top: 4px;
  left: 4px;
  border: 2px solid white;
}

.route-approach h4 {
  margin-bottom: 3px;
}

/***FOOTER********************************************************/
footer {
  width: 100%;
  background-color: #242424;
  color: #fdfdfd;
  padding-top: 30px;
  padding-bottom: 20px;
  line-height: 1.25em;
  min-width: 1200px;
}

.footer-container {
  width: 960px;
  height: 240px;
  margin: 0 auto;
  position: relative;
}

.footer-container div {
  float: left;
}

.footer-container div:not(:first-child) {
  margin-left: 50px;
}​

.footer-container div h4 {
  font-weight: bold;
}

.footer-container div p {
  margin-top: 20px;
  font-size: .8em;
}

.far-left-footer {
  width: 180px;
  height: 240px;
}

.far-left-footer p:nth-child(odd) {
  margin-top: 2px;
}

.far-left-footer h3 {
  font-family: 'BobelRegular';
  font-size: 3.75em;
}

.far-left-footer small {
  position: absolute;
  bottom: 0;
  font-size: .75em;
}

.inner-left-footer {
  width: 260px;
}

.inner-left-footer h4 {
  font-weight: bold;
}

.inner-right-footer {
  width: 145px;
}

.far-right-footer {
  width: 225px;
}


footer div div h4 {
  font-weight: bold;
}

/***NIVO SLIDER*************************************/
.nivoSlider {
    position:relative;
    background:url(images/loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    max-width: 675px;
    max-height: 260px; 
}
.nivoSlider a {
    border:0;
    display:block;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    *zoom:1;
}
